/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	border: 1px solid grey;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Your code starts here! */
.container{
	width: 90%;
	margin: 0 auto;
	margin-top: 2%;
}

nav{
	display: inline;
}

nav a{
	text-decoration:none;
	padding: 2%;
	margin: 2%;
	color: grey;
	vertical-align: top;
}

.logo{
	margin-left: 5%;
}

.header{
	vertical-align: middle;
	margin: 0 auto;
	display: inline-block;
	padding: 10% 10%;
	width: 45%;
	text-align: center;
}

h1{
	font-size: 75px;
	text-align: center;
}



#button{
	margin: 0 auto;
	padding:3% 0 5% 0;
	height: 35px;
	width: 130px;
	border: 1px solid grey;
	text-align: center;
}


.middle-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 87%;
}

.sectionclass1 {

}

.div1{
	display: inline-block;
	width: 45%;
	margin: 5% 1.5%;
	padding:0 5%;
}

.sectionclass2{

}

.div2{
	display: inline-block;
	width: 30%;
	margin: 5% 0 5% 1.5%;
	padding: 0 5%;
}

.contact{
	height: 100px;
	width: 100px;
	margin: 5% 0 0 6.5%;
}

footer{
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
}
